<div class="modal modal-full" id="login-signup">
  <div class="modal-close">
    {{#link-to 'search'}}<i class="ss-delete"></i>{{/link-to}}
  </div>

  <div class="login-container">
    <h1>Reset search password</h1>
    {{#unless isFinished}}
      <p>Enter new password:</p>
      <form class="form" {{action changePassword on="submit"}} >
        <div {{bind-attr class="passwordValidation.ok:success passwordValidation.failed:error"}}>
          <label class="control-label hidden">New Password</label>
          <div class="controls">
            {{input type="password" value=newPassword placeholder="New Password:" autofocus="autofocus" autoComplete=off }}
            {{view Yostalgia.InputTipView validationBinding="passwordValidation"}}
          </div>
        </div>
        <div class="control-actions">
          {{input type="submit" value="Change Password" class="btn btn-primary btn-rounded" disabled=submitDisabled }}
          {{#if isSaving}}
            <span class="loading">saving...</span>
          {{/if}}
        </div>
      </form>
    {{else}}
      <p>
        Great! Your search password has been reset. Now you can
        {{#link-to 'search'}}search private posts/events!{{/link-to}}
      </p>
    {{/unless}}
  </div>
</div>
