%h2 Forgot your search password?

= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-horizontal' }) do |f|

  = devise_error_messages!

  = f.input :login, label: 'Email'

  .form-actions
    = f.submit 'Send me reset search password instructions', class: 'btn btn-primary'

= render "devise/shared/links"
