<div class="user-photo">
  {{avatar owner.profile size="42"}}
</div>
<div class="notification-meta">
  <div class="notification-meta-title">
    <div class="notification-meta-name pull-left">
      {{owner.profile.fullName}}
    </div>
  </div>
  <div class="notification-meta-time">
    <i class="ss-clock"></i> {{timeago valueBinding="postedAt"}}
  </div>
  <div class="notification-meta-subject">
    {{actionText}}
    {{posessionText}}

    {{#if showCommentabeOwnersName}}
      <strong>{{commentable.user.profile.fullName}}</strong>'s
    {{/if}}

    {{commentableType}}{{#if title}} <strong>"{{title}}"</strong>{{/if}}:

    "{{commentText}}"
  </div>
</div>
