<div class="modal-left">
  <div class="modal-close">
    <a href="#" {{action close}}><i class="ss-delete"></i></a>
  </div>
</div>

{{#if isLoading}}
  <div class="search-results-users clearfix"><h2>Loading...</h2></div>
{{else}}
  <h1>Create new password to see private posts/events</h1>
  <form {{action "createSearchPassword" on="submit"}} class="controls">
    <div {{bind-attr class="passwordValidation.ok:success passwordValidation.failed:error"}}>
      <label class="control-label hidden">Password</label>
      <div class="controls password-control">
        {{input type="password" value=password placeholder="Password" autocomplete="off"}}
        {{view Yostalgia.InputTipView validationBinding="passwordValidation"}}
      </div>
    </div>
    <div {{bind-attr class="passwordConfirmationValidation.ok:success passwordConfirmationValidation.failed:error"}}>
      <label class="control-label hidden">Password</label>
      <div class="controls password-control">
        {{input type="password" value=confirm_password placeholder="Confirm Password" autocomplete="off"}}
        {{view Yostalgia.InputTipView validationBinding="passwordConfirmationValidation"}}
      </div>
    </div>
    <div class="control-actions">
      {{input type="submit" value="Create Password" class="btn btn-primary btn-rounded ss-navigateright" disabled=submitDisabled }}
    </div>
  </form>
{{/if}}