<div class="modal-left">
  <div class="modal-close">
    <a href="#" {{action close}}><i class="ss-delete"></i></a>
  </div>
</div>

{{#if isLoading}}
  <div class="search-results-users clearfix"><h2>Loading...</h2></div>
{{else}}
  <h1>Private Posts/Events</h1>
  <form {{action "checkPassword" on="submit"}} class="form">
    <div {{bind-attr class="passwordValidation.ok:success passwordValidation.failed:error"}}>
      <label class="control-label hidden">Password</label>
      <div class="controls password-control">
        {{input type="password" value=password placeholder="Password" autocomplete="off"}}
        {{view Yostalgia.InputTipView validationBinding="passwordValidation"}}
      </div>
    </div>
    <div class="control-actions">
      {{input type="submit" value="Submit" class="btn btn-primary btn-rounded ss-navigateright" disabled=submitDisabled }}
    </div>
  </form>
  <div>
    {{#link-to 'home.forgotten_search_password'}}
      Forgot Password?
    {{/link-to}}
  </div>
{{/if}}